@font-face {
	font-family: 'Circe';
	src: url('Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('Circe-Regular.woff') format('woff'),
		url('Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
		url('Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('Circe-Bold.woff') format('woff'),
		url('Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-BoldItalic.eot');
	src: local('Playfair Display-Bold Italic'), local('PlayfairDisplay-BoldItalic'),
		url('PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-BoldItalic.woff') format('woff'),
		url('PlayfairDisplay-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-Bold.eot');
	src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
		url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-Bold.woff') format('woff'),
		url('PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'IntroScriptR H2Base';
	src: url('IntroScriptR-H2Base.otf');
	src: local('IntroScriptR H2Base'), local('IntroScriptR H2Base');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Light.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Light.woff') format('woff'),
		url('OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}